<img
  src="https://images.wikidexcdn.net/mwuploads/wikidex/4/4d/latest/20210608195447/Logo_de_Pok%C3%A9mon.svg"
  alt="Pokemon Logo"
  class="logo"
/>
<div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer">
  <div class="footer-copyright text-center py-2">
    <a routerLink="/trainers/list" id="colorFooterText2"> Trainers</a>
  </div>
</footer>
